<div class="home-container">
  <div class="home-text">
    <div class="home-title">
      <h1>Página de gerenciamento de Funcionários da
        <span class="span-laranja">iEmpresa.</span></h1>
      <p>Olá, seja bem vindo !</p>
      <p>Esta página é somente para pessoas autorizadas, escolha a opção que
        deseja efetuar:
      </p>
    </div>
    <div class="home-img">
      <img src="/img/homeimg.svg" alt="" />
    </div>
  </div>
  <div class="home-opcoes">
    <ul class="home-opcoes-list">
      <li><a href="/iempresa/funcionarios">Exibir lista de funcionários
          <img src="/img/list.png" /></a></li>
      <li><a href="/iempresa/cadastrar">Cadastrar funcionário no sistema
          <img src="/img/employee.png" /></a></li>
    </ul>
  </div>
</div>